<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cat Viewer</title>
    <link rel="stylesheet" href="static/css/style.css" />
  </head>
  <body>
    <div class="container">
      <!-- Navigation Buttons -->
      <div class="nav-buttons">
        <button onclick="showSection('voting')" id="voting-btn">Voting</button>
        <button onclick="showSection('breeds')" id="breeds-btn">Breeds</button>
        <button onclick="showSection('favs')" id="favs-btn">❤️</button>
      </div>

      <!-- Voting Section -->
      <div id="voting-section" class="section">
        <div class="image-container">
          <img id="voting-image" src="" alt="Cat Image" />
        </div>
        <div class="vote-buttons">
          <button onclick="vote('up')">👍</button>
          <button onclick="vote('favorite')">❤️</button>
          <button onclick="vote('down')">👎</button>
        </div>
      </div>

      <!-- Breeds Section -->
      <div id="breeds-section" class="section">
        <div class="search-container">
          <form id="cat-form">
            <select name="breed" id="breed">
              <!-- Assuming server-side templating renders breed options here -->
              {{ range .Breeds }}
              <option value="{{ .ID }}">{{ .Name }}</option>
              {{ end }}
            </select>
            <button type="submit">Show</button>
          </form>
        </div>
        <div class="image-container">
          <img
            id="cat-image"
            src=""
            alt="Cat Image"
            style="width: 300px; height: 200px"
          />
        </div>
        <div class="flex">
          <p id="cat-name">Select a breed to see its name.</p>
          <p id="cat-origin">(Origin).</p>
        </div>

        <p id="cat-description">Select a breed to see its description.</p>

        <p id="cat-wikipedia">WIKIPEDIA</p>
      </div>

      <!-- Favorites Section -->
      <div id="favs-section" class="section">
        <div class="grid-view" id="favorites-grid"></div>
      </div>
    </div>

    <script src="static/js/practice.js"></script>
  </body>
</html>