body {
    font-family: Arial, sans-serif;
    padding: 20px;
}

#breed-select {
    margin-bottom: 20px;
    padding: 10px;
}

#breed-description {
    margin-top: 20px;
}

#cat-images img {
    width: 300px;
    height: auto;
    margin: 10px;
}
